@model Garage88.Models.LoginViewModel
@using Microsoft.AspNetCore.Identity
@using Garage88.Data.Entities
@inject SignInManager<User> signInManager

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_PasswordLayout.cshtml";
}

<section class="vh-100 persBack">

    <div class="container py-5 h-100">

        <div class="row d-flex align-items-center justify-content-center h-100">

            <div class="col-md-12 col-lg-5 col-xl-5 offset-xl-1 formStyle">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-outline mb-4">
                        <span asp-validation-for="UserName" class="text-warning"></span>
                        <input asp-for="UserName" class="form-control sharp form-control-lg" />
                        <label asp-for="UserName"></label>
                    </div>


                    <div class="form-outline mb-4">
                        <span asp-validation-for="Password" class="text-warning"></span>
                        <input asp-for="Password" type="password" class="form-control sharp form-control-lg" />
                        <label asp-for="Password"></label>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                            <label asp-for="RememberMe" class="form-check-label">Remember Me?</label>
                        </div>
                        <a asp-action="RecoverPassword" class="btn btn-link">Forgot your password?</a>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn sharp btn-primary btn-lg btn-block over">Sign in</button>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0" style="color:white">OR</p>
                    </div>

                    <a asp-action="Register" class="btn sharp btn-primary btn-lg btn-block over" style="background-color: #f7b801">
                        <i class="fa-solid fa-user-astronaut me-2"></i>
                        Register New User
                    </a>

                </form>

                @{
                    var schemes = await signInManager.GetExternalAuthenticationSchemesAsync();
                    var loginProviders = schemes.ToList();
                }
                @if (loginProviders.Count() > 0)
                {
                    <div class="col-md-12 col-lg-5 col-xl-5 offset-xl-1 extLogins" style="margin-top:10px">

                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                            <div>

                                <button type="submit" class="btn sharp btn-primary btn-lg btn-block over" name="provider" value="@loginProviders[0].Name"
                                        title="Log in using your @loginProviders[0].Name account" style="background-color: #3b5998">
                                    <i class="fab fa-facebook-f me-2"></i> Continue with @loginProviders[0].Name
                                </button>

                                <button type="submit" class="btn sharp btn-primary btn-lg btn-block over" name="provider" value="@loginProviders[1].Name"
                                        title="Log in using your @loginProviders[1].Name Account" style="background-color: #db4437">
                                    <i class="fa-brands fa-google"></i> Continue with @loginProviders[1].Name
                                </button>

                            </div>
                        </form>

                    </div>
                }

                <div>
                    <a class="btn btn-warning btn-lg btn-block social sharp over" style="margin-top:10px" asp-area="" asp-action="Index" asp-controller="Home"><i class="fas fa-home"></i> Back to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
