@model IEnumerable<Garage88.Data.Entities.EstimateDetailTemp>

@{
    Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    ViewData["Title"] = "Estimates";
    ViewData["BreadCrumb"] = "Create Estimate";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />

<div>
    <hr />
    <p style="text-align:center">Create a new Service Estimate</p>
    <hr />
</div>

<div class="container-fluid" style="max-width:90%">

    <table class="hover stripe compact row-border testTable" style="display:inline-table" id="MyTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Service.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Service != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Service.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Service.Discount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceWithDiscount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValueWithDiscount)
                        </td>
                        <td id="@item.Id">
                            <a asp-action="Increase" asp-route-id="@item.Id" asp-route-isEdit="false" class="btn btn-warning"><i class="fa fa-plus"></i></a>
                            <a asp-action="Decrease" asp-route-id="@item.Id" asp-route-isEdit="false" class="btn btn-info"><i class="fa fa-minus"></i></a>
                            <a asp-action="DeleteItem" asp-route-id="@item.Id" asp-route-isEdit="false" class="btn btn-danger" id="btnDeleteItem">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div style="margin-top:50px">
        <table class="stripe cell-border" style="display:inline-table" id="MyTable2">
            <thead>
                <tr>
                    <th style="padding-right: 89px;">
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding-right: 80px;">@Html.Raw(ViewData["TotalCost"])</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group" style="margin-top:20px">
        <label class="control-label">Fault Description</label>
        <textarea class="form-control" id="faultDescriptionText" rows="5"> </textarea>
    </div>

    <div style="margin-top:20px">
        <a asp-action="AddService" asp-route-id="@Model.First().VehicleId" class="btn btn-info btn-sm"><i class="fas fa-file-medical"></i>  Add Service</a>
        <a asp-action="ConfirmEstimate" asp-route-isEdit="false" class="btn btn-success btn-sm" id="btnConfirm"><i class="fas fa-check-square"></i>  Finish Estimate</a>
    </div>

</div>

<div id="confirmDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Order</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Do you want to finish the estimate?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesConfirm">Yes</button>
                <button type="button" class="btn btn-success" id="btnNoConfirm">No</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Order</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete the service from the estimate?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Yes</button>
                <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>

<div style="position: fixed; bottom: 65px; width: 100%; left:18%">
    <table>
        <tr>
            <td style="margin-right:10px;">
                <i class="fa fa-plus" style="background: #FFCA2C;padding:10px;border-radius: 50%;"></i> @Html.Raw(" = Increase ")
            </td>
            <td>
                <i class="fa fa-minus" style="background: #31D2F2;padding:10px;border-radius: 50%; margin-left:10px "></i> @Html.Raw(" = Decrease ")
            </td>
        </tr>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#MyTable').DataTable({
                columnDefs: [{
                    className: 'dt-center', targets: "_all"
                }],
                paging: false,
                info: false,
            });
        });

        $('#MyTable2').DataTable({
                columnDefs: [{
                    className: 'dt-right', targets: "_all"

                }],
                paging: false,
                searching: false,
                info: false,
                ordering: false,
        });

        $(document).ready(function() {

            var id = 0;

            $("#btnConfirm").click(function() {
                $("#confirmDialog").modal("show");
                return false;
            });

             $("#btnNoConfirm").click(function() {
                $("#confirmDialog").modal("hide");
                return false;
            });


            $("#btnYesConfirm").click(function() {
               id = @Model.FirstOrDefault().VehicleId;
               var faultDesc = document.getElementById("faultDescriptionText").value;
               window.location.href = "/Estimates/ConfirmEstimate/"+id+"?isEdit=false&faultDescription="+faultDesc;
            });


            $("a[id*=btnDeleteItem]").click(function() {
                    id=$(this).parent()[0].id;
                    $("#deleteDialog").modal("show");
                    return false;
            });

            $("#btnNoDelete").click(function() {
              $("#deleteDialog").modal("hide");
                return false;
            });

            $("#btnYesDelete").click(function() {
                window.location.href = "/Estimates/DeleteItem/"+id+"?isEdit=false";
            });

        });

    </script>
}