@model Garage88.Data.Entities.Estimate

@{
    // Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    Layout = "_Layout";
    ViewData["Title"] = "Estimates";
    ViewData["BreadCrumb"] = "Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />

<div>
    <hr />
    <h2 style="text-align:center">Estimate @Html.DisplayFor(model => model.Id)</h2>
    <hr />
</div>

@if (Model.Services == null || Model.Services.Count() == 0)
{
    <h5 style="text-align:center; padding-bottom:100px">This estimate is empty.</h5>
}
else
{
    <div style="margin-top:20px; max-width:90%" class="container-fluid">
        <div>
            <table class="hover stripe compact row-border testTable" style="display:inline-table" id="MyTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Service.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Service.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Service.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Service.PriceWithDiscount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Quantity)
                        </th>
                        <th>
                            Service Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Services.OrderBy(s => s.Id))
                    {
                        @if (item.Service != null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Service.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Service.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Service.Discount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Service.PriceWithDiscount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValueWithDiscount)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div style="margin-top:50px">
            <table class="stripe cell-border" style="display:inline-table" id="MyTable2">
                <thead>
                    <tr>
                        <th style="padding-right: 89px;">
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding-right: 75px;">@Html.DisplayFor(model => model.ValueWithDiscount)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

<div class="container-fluid" style="margin-top:50px; max-width:90%">
    <a asp-action="Index" class="btn btn-success">Back to Estimates List</a>
    <a asp-action="Estimate" asp-route-controller="pdf" asp-route-id="@Model.Id" asp-route-sendEmail="false" target="_blank" style="float:right; margin-right:10px" class="btn btn-danger btn-sm"><i class="fas fa-file-pdf"></i> Download </a>
    <a asp-controller="pdf" asp-action="Estimate" asp-route-id="@Model.Id" asp-route-sendEmail="true" class="btn btn-primary btn-sm" style="float:right; margin-right:10px"><i class="fas fa-paper-plane"></i> Send Pdf</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#MyTable').DataTable({
                columnDefs: [{
                    className: 'dt-center', targets: "_all"
                }],
                paging: false,
                searching: false,
                info: false
            });

            $('#MyTable2').DataTable({
                columnDefs: [{
                    className: 'dt-right', targets: "_all"

                }],
                paging: false,
                searching: false,
                info: false,
                ordering: false,


            });
        });
    </script>
}