@model IEnumerable<Garage88.Data.Entities.Client>

@{
    // Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    Layout = "_Layout";
    ViewData["Title"] = "Clients";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container-fluid" style="max-width: 90%">
    <div>
        <table class="hover stripe row-border testTable" style="display:inline-table" id="MyTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nif)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nif)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="fas fa-user-pen"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fas fa-list"></i></a>
                            <a asp-action="SelectVehicle" asp-controller="Estimates" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="fas fa-file-alt"></i></a>

                            @if (this.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm pull-right"><i class="fas fa-trash"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <a asp-action="Create" class="btn btn-primary" style="margin-top:50px;width:100%">
        <i class="fa fa-user"></i> Add Client
    </a>

    <footer class="footer" style="position:Absolute; bottom:65px;font-size:14px">
        <table>
            <tr>
                <td>
                    <i class="fas fa-user-pen" style="background: #138496;padding:10px; margin-left:10px;color:white"></i> @Html.Raw(" = Edit ")
                </td>
                <td>
                    <i class="fas fa-list" style="background: #E0A800;padding:10px; margin-left:10px; "></i> @Html.Raw(" = Details ")
                </td>
                <td>
                    <i class="fas fa-file-alt" style="background: #157347;padding:10px; margin-left:10px;color:white; "></i> @Html.Raw(" = New Estimate ")
                </td>
                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                {
                    <td>
                        <i class="fas fa-trash" style="background: #C82333;padding:10px; margin-left:10px;color:white "></i> @Html.Raw(" = Delete ")
                    </td>
                }
            </tr>
        </table>
    </footer>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                columnDefs: [
                    { className: 'dt-center', targets: "_all" },
                    { className: "tableFont", targets: "_all" },
                ]
            });
        });

        $(document).ready(function () {
            let id = 0;
            $('a[id*=btnDelete]').click(function () {
                debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal('show');
                return false;
            });
            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal('hide');
                return false;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Customers/Delete/' + id;
            });
        });
    </script>
}