@model List<Garage88.Data.Entities.Mechanic>

@{
    ViewData["Title"] = "Technicians";
    Layout = "_Layout";
    bool isActive = true;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Garage88 Admin Panel</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.css">
    <!-- FullCalendar-->
    <link rel="stylesheet" href="~/css/main.css">
    <script src='~/js/main.js'></script>
    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.43/fluent.css" />
    <script src="https://cdn.syncfusion.com/ej2/20.2.43/dist/ej2.min.js"></script>

    <!-- Custom CSS & JS -->
    <link rel="stylesheet" href="~/css/custom.css" />
    <script src='~/js/site.js'></script>

    <!-- jQuery e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<div class="row" style="height:80vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px; margin-top:25px; background-color:#f4f3ee; padding:0;">

        <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width:100%">
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <li data-bs-target="#myCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                }
            </ol>

            <div class="carousel-inner">
                @foreach (var item in Model)
                {
                    <div class="carousel-item @(isActive ? "active" : "")" data-bs-interval="8000">
                        <div class="container-fluid" style="height: 705px;">
                            <div class="row" style="min-height: 705px; text-align: center;">
                                <div class="col-6 d-flex justify-content-center align-items-center" style="padding-left:140px">
                                    <img src="~/dist/img/user1-128x128.jpg" alt="@item.FullName" style="max-width: 80%; border-radius: 30px;" />
                                </div>
                                <div class="col-6" style="padding-right:140px">
                                    <div style="margin-top:100px">
                                        <h1>@item.FullName</h1>
                                    </div>
                                    <div class="speciality">
                                        @Html.Raw($"({item.Speciality.Name})")
                                    </div>
                                    <div style="margin-top:5%; text-align:start;">
                                        <p>@item.About</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    isActive = false;
                }
            </div>

            <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div class="col-1"></div>
</div>

<style>
    .carousel-item {
        min-height: 705px;
        background: #f4f3ee;
        color: black;
    }

    h1 {
        color: #f7b801;
        text-align: end;
        margin-right: 40px;
    }

    .carousel-indicators .active {
        background-color: #f7b801;
    }

    .speciality {
        text-align: end;
        margin-right: 50px;
    }

    img {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border-radius: 8px;
        width: 100%;
        transform: rotate(6deg);
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        filter: invert(1);
    }
</style>
